<mat-card class="example-card">
  <mat-card-header>
    <!--<div mat-card-avatar class="example-header-image"></div>-->
    <mat-card-title>Israel</mat-card-title>
    <mat-card-subtitle>Ashkelon</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://st.depositphotos.com/1585997/2680/i/950/depositphotos_26809345-stock-photo-ashkelon-israel.jpg" alt="Photo of Ashkelon">
  <mat-card-content>
    <p>
      Ашкелон — город Южного округа Израиля,
      расположенный на побережье Средиземного моря в 55 км от Тель-Авива,
      70 км от Иерусалима и 65 км от Беэр-Шевы.
    </p>
  </mat-card-content>
</mat-card>
