<mat-toolbar  color = "primary">
  <span class="toolbar-margin">Welcom to Israel.</span>
  <ng-content select=".right-side"></ng-content>
</mat-toolbar>

<div class="button-row">
  <button  mat-raised-button color="primary" (click)="onclick1()" >Tel-Aviv</button>
  <button mat-raised-button color="primary" (click)="onclick2()" >Ierushalaim</button>
  <button mat-raised-button color="primary" (click)="onclick3()" >Ashkelon</button>
</div>

<div class = "button-row"
     [ngSwitch]="path">
      <app-card *ngSwitchCase="'T'"></app-card>
      <app-card1 *ngSwitchCase="'I'"></app-card1>
      <app-card2 *ngSwitchCase="'A'"></app-card2>
</div>

